<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=
  , initial-scale=1.0"
    />
    <link href="../static/css/output.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"
      integrity="sha512-EBLzUL8XLl+va/zAsmXwS7Z2B1F9HUHkZwyS/VKwh3S7T/U0nF4BaU29EP/ZSf6zgiIxYAnKLu6bJ8dqpmX5uw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <!-- Highlight.js CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <!-- Load Popular Languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/java.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/cpp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/csharp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/ruby.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/php.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/swift.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/kotlin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/rust.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/sql.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/typescript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/bash.min.js"></script>

    <script>
      hljs.highlightAll();
    </script>
    <title>Home</title>
  </head>
  <body class="bg-white relative">
    <!-- Modal -->
    <div
      onclick="toggleInsertModal()"
      id="modal-overlay"
      class="fixed inset-0 bg-black/60 hidden z-60"
    ></div>
    <div
      id="insert-modal"
      class="fixed z-[80] w-[20rem] md:w-[30rem] -translate-y-1/2 -translate-x-1/2 top-1/2 left-1/2 bg-slate-50 rounded-xl px-4 md:px-10 pb-10 py-6 hidden"
    >
      <h3 class="text-center font-semibold text-xl mb-4 text-gray-900">
        Insert GPT Conversation
      </h3>
      <form class="flex flex-col gap-4" action="/insert" method="post">
        <div>
          <label
            for="title"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Conversation Title</label
          >
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Example"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-blue-500 block w-full p-2.5"
            required
          />
        </div>
        <div>
          <label for="link" class="block mb-2 text-sm font-medium text-gray-900"
            >Conversation Link</label
          >
          <input
            type="text"
            name="link"
            id="link"
            placeholder="https://example.com"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-blue-500 block w-full p-2.5"
            required
          />
        </div>
        <div>
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded cursor-pointer w-full"
          >
            Save
          </button>
        </div>
      </form>
    </div>

    <nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200">
      <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
          <div class="flex items-center justify-start">
            <a href="/" class="flex ms-2 md:me-24">
              <span
                class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap"
                >GPT Archive</span
              >
            </a>
          </div>
          <div class="flex items-center">
            <div class="flex items-center ms-3">
              <div>
                <button
                  type="button"
                  class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300"
                  aria-expanded="false"
                  data-dropdown-toggle="dropdown-user"
                >
                  <span class="sr-only">Open user menu</span>
                  <span
                    class="w-8 h-8 rounded-full flex items-center justify-center bg-gray-200 uppercase"
                  >
                    {{user['username'][0]}}
                  </span>
                </button>
              </div>
              <div
                class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-sm shadow-sm"
                id="dropdown-user"
              >
                <div class="px-4 py-3 min-w-[10rem]" role="none">
                  <p class="text-sm text-gray-900" role="none">
                    {{user['username']}}
                  </p>
                </div>
                <ul class="py-1" role="none">
                  <li>
                    <a
                      href="/logout"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                      role="menuitem"
                      >Sign out</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="p-4 relative overflow-hidden">
      <!-- Circle Elements -->
      <div
        class="bg-[#25D1BC] aspect-square w-[25rem] rounded-full absolute -top-[15rem] lg:-top-44 -left-[15rem] lg:-left-44 blur-[10rem] -z-10"
      ></div>
      <div
        class="bg-[#4481F9] aspect-square w-[25rem] rounded-full absolute -bottom-[15rem] lg:-bottom-44 -right-[15rem] lg:-right-44 blur-[10rem] -z-10"
      ></div>
      <div class="p-4 border-2 border-gray-200 rounded-lg mt-14 min-h-full">
        <div class="flex gap-4 mb-4 min-h-[85dvh] text-gray-900">
          <section class="container px-4 mx-auto">
            <header
              class="flex flex-col gap-4 md:flex-row py-2 md:items-center md:justify-between"
            >
              <div>
                {% if total_conversations != 0 %}
                <h2 class="text-lg font-medium text-gray-800">Conversations</h2>
                <p class="mt-1 text-sm text-gray-500">
                  These are the conversations you have saved.
                </p>
                {% endif %}
              </div>
              <button
                onclick="toggleInsertModal()"
                type="button"
                class="bg-blue-500 hover:bg-blue-600 px-3 py-2 cursor-pointer text-white rounded-lg"
              >
                New Conversation
              </button>
            </header>
            <!-- Main content -->
            {% if total_conversations == 0 %}
            <!-- Fallback text -->
            <div
              class="flex flex-col gap-4 justify-center items-center h-full w-full text-center pb-20"
            >
              <h4 class="text-5xl font-semibold">GPT Archive</h4>
              <p>
                You have not saved any conversations yet. Click the "New
                Conversation" button to get started.
              </p>
            </div>
            {% else %}
            <!-- Table -->

            <div class="flex flex-col mt-6">
              <div class="-my-2 overflow-x-auto">
                <div class="inline-block py-2 align-middle w-full">
                  <div class="border border-gray-200 md:rounded-lg">
                    <table class="w-full divide-y divide-gray-200">
                      <thead class="bg-gray-50">
                        <tr>
                          <th
                            scope="col"
                            class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500"
                          >
                            <button
                              class="flex items-center gap-x-3 focus:outline-none"
                            >
                              Title
                            </button>
                          </th>

                          <th
                            scope="col"
                            class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500"
                          >
                            Created at
                          </th>

                          <th
                            scope="col"
                            class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500"
                          >
                            Link
                          </th>

                          <th
                            scope="col"
                            class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500"
                          >
                            Actions
                          </th>
                        </tr>
                      </thead>
                      <tbody class="bg-white divide-y divide-gray-200">
                        {% for curr_conv in conversations %}
                        <tr>
                          <td
                            class="px-4 py-4 text-sm font-medium whitespace-nowrap"
                          >
                            <div>
                              <h2 class="font-medium text-gray-800">
                                {{curr_conv['title']}}
                              </h2>
                            </div>
                          </td>
                          <td
                            class="px-12 py-4 text-sm font-medium whitespace-nowrap"
                          >
                            <div class="">{{curr_conv['created_at']}}</div>
                          </td>
                          <td class="px-4 py-4 text-sm whitespace-nowrap">
                            <div>
                              <a
                                target="_blank"
                                href="{{ curr_conv['link'] }}"
                                class="text-blue-500 hover:underline"
                              >
                                {{ curr_conv['link'] }}
                              </a>
                            </div>
                          </td>
                          <td class="px-4 py-4 text-sm whitespace-nowrap">
                            <a
                              href="conversations/{{ curr_conv['conversation_id'] }}"
                              class="text-blue-500 hover:underline"
                              >Detail</a
                            >
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </section>
          {% endif %}
        </div>
      </div>
    </div>
    <script src="/static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>
