<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>GPT Archive</title>
    <title>GPT Archive</title>
  </head>
  <body
    class="bg-neutral-800 text-white flex flex-col justify-between min-h-[125dvh]"
  >
    <!--  Modal  -->
    <div
      onclick="toggleInsertModal()"
      id="modal-overlay"
      class="fixed inset-0 bg-black/60 hidden"
    ></div>
    <div
      id="insert-modal"
      class="fixed z-20 w-[30rem] -translate-y-1/2 -translate-x-1/2 top-1/2 left-1/2 bg-neutral-700 rounded-xl px-10 pb-10 py-6 hidden"
    >
      <h3 class="text-center font-semibold text-xl mb-4">
        Insert GPT Conversation
      </h3>
      <form class="flex flex-col gap-4" action="/insert" method="post">
        <div>
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Title"
            class="bg-neutral-500 px-4 py-2 w-full outline-none rounded"
          />
        </div>
        <div>
          <input
            type="text"
            name="link"
            id="link"
            placeholder="Link"
            class="bg-neutral-500 px-4 py-2 w-full outline-none rounded"
          />
        </div>
        <div>
          <button
            type="submit"
            class="bg-neutral-900 hover:bg-neutral-950 px-4 py-2 rounded cursor-pointer w-full"
          >
            Save
          </button>
        </div>
      </form>
    </div>

    <div class="grid grid-cols-10 gap-4 p-4 h-screen">
      <!-- Sidebar -->
      <div class="col-span-3 overflow-auto bg-neutral-950/30 w-full p-4">
        <button
          onclick="toggleInsertModal()"
          type="button"
          class="cursor-pointer bg-neutral-900 hover:bg-neutral-950 px-4 py-2 rounded mb-10 text-lg"
        >
          New Conversation
        </button>
        <ul class="flex flex-col gap-2">
          {% for curr_conv in conversations %}
          <li
            class="cursor-pointer rounded {{'bg-neutral-600' if conversaation and conversation['conversation_id'] == curr_conv['conversation_id'] else 'hover:bg-neutral-600'}} px-3 py-1 transition-all"
          >
            <a
              class="w-full"
              href="/conversations/{{ curr_conv['conversation_id'] }}"
            >
              {{curr_conv['title']}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <!-- Main content -->
      <main class="col-span-7 lg:p-10 h-screen overflow-auto">
        {% if home %}
        <!-- Fallback text -->
        <div class="flex flex-col gap-4 justify-center items-center h-full">
          <h4 class="text-5xl font-semibold">GPT Archive</h4>
          <p>
            Select one conversation on the left side, or save new conversation.
          </p>
        </div>
        {% else %}

        <!-- Content -->
        <div
          class="flex flex-col gap-10 justify-center items-center min-h-screen p-4 pb-20 w-full"
        >
          {% for text in conversation['text'] %}
          <section class="flex justify-end w-full">
            <div class="bg-neutral-900 rounded-2xl p-6 w-5/6">
              {{text['user']}}
            </div>
          </section>
          <section class="flex justify-start w-full">
            <div class="bg-neutral-900 rounded-2xl p-6 w-5/6">
              {{text['assistant']}}
            </div>
          </section>
          {%endfor%}
        </div>

        {% endif %}
      </main>
    </div>
    <footer class="bg-neutral-950 p-10 text-center">
      <p>Copyright (c) 2025 Ahmad Reza Adrian</p>
    </footer>
    <script src="/static/js/script.js"></script>
  </body>
</html>
