<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/css/output.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div
      class="h-screen w-full relative flex flex-col items-center justify-center bg-gray-100 overflow-hidden"
    >
      <!-- Circle Elements -->
      <div
        class="bg-[#25D1BC] aspect-square w-[35rem] rounded-full absolute -top-[25rem] lg:-top-44 -left-[25rem] lg:-left-44 blur-[10rem]"
      ></div>
      <div
        class="bg-[#4481F9] aspect-square w-[35rem] rounded-full absolute -bottom-[25rem] lg:-bottom-44 -right-[25rem] lg:-right-44 blur-[10rem]"
      ></div>
      <form method="POST" action="">
        <section
          class="flex flex-col gap-3 md:gap-4 items-center justify-center p-4 px-4 w-full md:min-w-[30rem]"
        >
          <h1 class="font-semibold text-center text-3xl mb-4 md:mb-10">
            Sign Up to Our Platform
          </h1>
          <div class="flex flex-col gap-1 w-full">
            <label for="username">Username</label>
            <span class="relative">
              <i class="fa-solid fa-user absolute left-2 top-3"></i>
              <input
                type="text"
                name="username"
                id="username"
                value="{{username}}"
                class="bg-white shadow-lg w-full px-8 py-2 outline-1 outline-transparent focus:outline-blue-500 rounded-lg transition-all"
                required
              />
            </span>
          </div>
          <div class="flex flex-col gap-1 w-full">
            <label for="password">Password</label>
            <span class="relative">
              <i class="fa-solid fa-lock absolute left-2 top-3"></i>
              <input
                type="password"
                name="password"
                id="password"
                value="{{password}}"
                class="bg-white shadow-lg w-full px-8 py-2 outline-1 outline-transparent focus:outline-blue-500 rounded-lg transition-all"
                required
              />
            </span>
          </div>
          {% if error %}
          <div class="flex w-full text-red-500">
            <!-- <p>Username or Password is Wrong</p> -->
            <p>{{error_msg}}</p>
          </div>
          {% endif %}
          <div class="flex justify-start w-full">
            <h3 class="font-semibold text-left">
              Already Have an Account?
              <a href="/login" class="text-blue-500 hover:underline">Sign In</a>
            </h3>
          </div>
          <button
            type="submit"
            class="bg-black hover:bg-black/80 text-white px-4 py-1.5 rounded cursor-pointer w-full font-semibold"
          >
            Sign Up
          </button>
        </section>
      </form>
    </div>
  </body>
</html>
